<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/node_modules/css/ad.css">
    <link rel="stylesheet" href="/node_modules/css/set.css">
    <script src="/node_modules/js/vue-2.4.0.js"></script>
    <script src="/node_modules/js/vue-resource-1.3.4.js"></script>
    <title>设置-简书</title>
</head>

<body lang="zh-CN" class="reader-black-font" style="overflow-y: scroll;">
    <!-- 全局顶部导航栏 -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="width-limit">
            <!-- 左上方 Logo -->
            <a class="logo" href="/"><img src="//cdn2.jianshu.io/assets/web/nav-logo-4c7bbafe27adc892f3046e6978459bac.png"
                    alt="Nav logo"></a>

            <!-- 右上角 -->
            <!-- 登录显示写文章 -->
            <a class="btn write-btn" target="_blank" href="/writer">
                <i class="iconfont ic-write"></i>写文章
            </a>
            <!-- 如果用户登录，显示下拉菜单 -->
            <div class="user">
                <div data-hover="dropdown">
                    <a class="avatar" href="javascript:;"><img src="<%= user.headPortrait %>" alt="120"></a>
                </div>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/u/<%= user.id %>">
                            <i class="iconfont ic-navigation-profile"></i><span>我的主页</span>
                        </a> </li>
                    <li>
                        <a href="/settings">
                            <i class="iconfont ic-navigation-settings"></i><span>设置</span>
                        </a> </li>
                    <li>
                        <a href="/faqs">
                            <i class="iconfont ic-navigation-feedback"></i><span>帮助与反馈</span>
                        </a> </li>
                    <li>
                        <a rel="nofollow" data-method="delete" href="/logout">
                            <i class="iconfont ic-navigation-signout"></i><span>退出</span>
                        </a> </li>
                </ul>
            </div>
            <div class="style-mode"><a class="style-mode-btn"><i class="iconfont ic-navigation-mode"></i></a>
                <div class="popover-modal" style="left: 0px; display: none;">
                    <div class="meta"><i class="iconfont ic-navigation-night"></i><span>夜间模式</span></div>
                    <div class="switch day-night-group"><a class="switch-btn">开</a> <a class="switch-btn active">关</a></div>
                    <hr>
                    <div class="switch font-family-group"><a class="switch-btn font-song">宋体</a> <a class="switch-btn font-hei active">黑体</a></div>
                    <div class="switch"><a class="switch-btn active">简</a> <a class="switch-btn">繁</a></div>
                </div>
            </div>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu"
                        aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        <li class="tab ">
                            <a href="/">
                                <span class="menu-text">发现</span><i class="iconfont ic-navigation-discover menu-icon"></i>
                            </a> </li>
                        <li class="tab ">
                            <a href="/subscriptions">
                                <span class="menu-text">关注</span><i class="iconfont ic-navigation-follow menu-icon"></i>
                            </a> </li>
                        <li class="tab notification"><a data-hover="dropdown" href="/notifications" class="notification-btn"><span
                                    class="menu-text">消息</span> <i class="iconfont ic-navigation-notification menu-icon"></i>
                                <!---->
                                <!----></a>
                            <ul class="dropdown-menu">
                                <li><a href="/notifications#/comments"><i class="iconfont ic-comments"></i> <span>评论</span>
                                        <!----></a></li>
                                <li><a href="/notifications#/chats"><i class="iconfont ic-chats"></i> <span>简信</span>
                                        <!----></a></li>
                                <li><a href="/notifications#/requests"><i class="iconfont ic-requests"></i> <span>投稿请求</span>
                                        <!----></a></li>
                                <li><a href="/notifications#/likes"><i class="iconfont ic-likes"></i> <span>喜欢和赞</span>
                                        <!----></a></li>
                                <li><a href="/notifications#/follows"><i class="iconfont ic-follows"></i> <span>关注</span>
                                        <!----></a></li>
                                <li><a href="/notifications#/money"><i class="iconfont ic-money"></i> <span>赞赏和付费</span>
                                        <!----></a></li>
                                <li><a href="/notifications#/others"><i class="iconfont ic-others"></i> <span>其它提醒</span>
                                        <!----></a></li>
                            </ul>
                        </li>
                        <li class="search">
                            <form target="_blank" action="/search" accept-charset="UTF-8" method="get"><input name="utf8"
                                    type="hidden" value="✓">
                                <input type="text" name="q" id="q" value="" autocomplete="off" placeholder="搜索" class="search-input"
                                    data-mounted="1">
                                <a class="search-btn" href="javascript:void(null)"><i class="iconfont ic-search"></i></a>
                                <div id="navbar-search-tips">
                                    <div class="search-trending">
                                        <div class="search-trending-header clearfix"><span>热门搜索</span> <a><i class="iconfont ic-search-change"
                                                    style="transform: rotate(0deg);"></i> 换一批</a></div>
                                        <ul class="search-trending-tag-wrap">
                                            <li><a href="/search?q=%E5%8C%BA%E5%9D%97%E9%93%BE&amp;utm_source=desktop&amp;utm_medium=search-trending"
                                                    target="_blank">区块链</a></li>
                                            <li><a href="/search?q=%E5%B0%8F%E7%A8%8B%E5%BA%8F&amp;utm_source=desktop&amp;utm_medium=search-trending"
                                                    target="_blank">小程序</a></li>
                                            <li><a href="/search?q=vue&amp;utm_source=desktop&amp;utm_medium=search-trending"
                                                    target="_blank">vue</a></li>
                                            <li><a href="/search?q=%E6%AF%95%E4%B8%9A&amp;utm_source=desktop&amp;utm_medium=search-trending"
                                                    target="_blank">毕业</a></li>
                                            <li><a href="/search?q=PHP&amp;utm_source=desktop&amp;utm_medium=search-trending"
                                                    target="_blank">PHP</a></li>
                                            <li><a href="/search?q=%E6%95%85%E4%BA%8B&amp;utm_source=desktop&amp;utm_medium=search-trending"
                                                    target="_blank">故事</a></li>
                                            <li><a href="/search?q=flutter&amp;utm_source=desktop&amp;utm_medium=search-trending"
                                                    target="_blank">flutter</a></li>
                                            <li><a href="/search?q=%E7%90%86%E8%B4%A2&amp;utm_source=desktop&amp;utm_medium=search-trending"
                                                    target="_blank">理财</a></li>
                                            <li><a href="/search?q=%E7%BE%8E%E9%A3%9F&amp;utm_source=desktop&amp;utm_medium=search-trending"
                                                    target="_blank">美食</a></li>
                                            <li><a href="/search?q=%E6%8A%95%E7%A8%BF&amp;utm_source=desktop&amp;utm_medium=search-trending"
                                                    target="_blank">投稿</a></li>
                                        </ul>
                                    </div>
                                    <!---->
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>



    <div class="container setting">
        <div class="row">
            <div class="aside">
                <ul>
                    <li class="router-link-exact-active active"><a href="/settings/basic">
                            <div class="setting-icon"><i class="iconfont ic-settings-basic"></i></div> <span>基础设置</span>
                            <!---->
                        </a></li>
                    <li class=""><a href="javascript:;">
                            <div class="setting-icon"><i class="iconfont ic-settings-profile"></i></div> <span>个人资料</span>
                            <!---->
                        </a></li>
                    <li class=""><a href="javascript:;">
                            <div class="setting-icon"><i class="iconfont ic-settings-verify"></i></div> <span>微博认证</span>
                            <!---->
                        </a></li>
                    <li class=""><a href="javascript:;">
                            <div class="setting-icon"><i class="iconfont ic-settings-block"></i></div> <span>黑名单</span>
                            <!---->
                        </a></li>
                    <li class=""><a href="javascript:;">
                            <div class="setting-icon"><i class="iconfont ic-settings-money"></i></div> <span>赞赏设置</span>
                            <!---->
                        </a></li>
                    <li class=""><a href="javascript:;">
                            <div class="setting-icon"><i class="iconfont ic-settings-account"></i></div> <span>帐号管理</span>
                            <!---->
                        </a></li>
                </ul>
            </div>
            <div class="col-xs-16 col-xs-offset-8 main" id="update">
                <table>
                    <thead>
                        <tr>
                            <th class="setting-head responsive-head"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="base">
                        <tr>
                            <td class="top-line">
                                <div class="avatar"><img :src="headPortrait"></div>
                            </td>
                            <td class="top-line"><a class="btn btn-hollow"><input unselectable="on" type="file" class="hide" @change='img' ref="imgId">
                                    更改头像
                                </a></td>
                        </tr>
                        <tr>
                            <td class="setting-title">
                                昵称
                            </td>
                            <td><input type="text" placeholder="请输入昵称" v-model="nickname"></td>
                        </tr>
                        <tr>
                            <td class="setting-title">电子邮件</td>
                            <td><button class="btn btn-hollow">点击绑定</button>
                                <!---->
                            </td>
                        </tr>
                        <tr>
                            <td class="setting-title">手机</td>
                            <td class="setted">
                                <div>{{ username }}</div> <i class="iconfont ic-collections-followed"></i> <span>已验证</span>
                                <a class="cancel-bind">解除绑定</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="setting-title setting-editor">常用编辑器</td>
                            <td>
                                <div class="col-xs-8"><input type="radio" checked="checked" name="wenben"> <span>富文本</span></div>
                                <div class="col-xs-16"><input type="radio" name="wenben"> <span>Markdown <a href="javascript:;"
                                            target="_blank" class="help"><i class="iconfont ic-navigation-help"></i></a></span></div>
                                <p>切换后对新建文章生效</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="setting-title setting-verticle">语言设置</td>
                            <td>
                                <div class="col-xs-8"><input type="radio" value="zh-CN" checked="checked" name="yuyan">
                                    <span>中文简体</span></div>
                                <div class="col-xs-16"><input type="radio" value="zh-TW" name="yuyan"> <span>中文繁体</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="setting-title setting-verticle">接收谁的简信</td>
                            <td>
                                <div class="col-xs-8"><input type="radio" checked="checked" name="show"> <span class="responsive-span">所有人</span></div>
                                <div class="col-xs-16"><input type="radio" name="show"> <span class="responsive-span">我关注的人、我发过简信的人</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="setting-title setting-verticle">提醒邮件通知</td>
                            <td>
                                <div class="col-xs-8"><input type="radio" checked="checked" name="suoyou"> <span class="responsive-span">所有动态</span></div>
                                <div class="col-xs-11"><input type="radio" name="suoyou"> <span class="responsive-span">每天未读汇总</span></div>
                                <div class="col-xs-5"><input type="radio" name="suoyou"> <span class="responsive-span">不接收</span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" class="btn btn-success setting-save" value="保存" @click.prevent="up">
                <!---->
                <!---->
            </div>
        </div>
    </div>
</body>
<script>
    var update = new Vue({
        el: '#update',
        data: {
            id: '<%= user.id %>',
            nickname: '<%= user.nickname %>',
            username: '<%= user.username %>',
            headPortrait:'<%= user.headPortrait %>',
        },
        methods: {
            up() {
                if (this.nickname.trim() == "") {
                    alert("昵称不能为空!")
                    return
                }
                this.$http.post("/settings/basic", { id: this.id, nickname: this.nickname,headPortrait: this.headPortrait}, { emulateJSON: true }).then(result => {
                    if (result.body.status == 200) {
                        alert(result.body.msg)
                        location.reload()
                    } else {
                        alert(result.body.msg)
                    }
                })
            },
            img(){
                var reader = new FileReader();
                var file = this.$refs.imgId.files[0];
                reader.readAsDataURL(file);
                //onload 文件上传成功时的事件
                reader.onload = ()=>{
                    this.headPortrait = reader.result;
                }
            }
            
        }
    })
</script>

</html>